$font: 'DM Sans', 'sans-serif';
$gray: #eeeeee;
$strongBlue: #16212A;
$mediumblue: #337597;
$averageBlue: #3F92BD;
$lightBlue: #6ABCE8;
$darkmode: #16212A;
$darkgrad: linear-gradient(180deg, #21313F 0%, rgba(33, 49, 63, 0.95) 59.26%);



//darkmode
.dark-mode .heading p,
.dark-mode ul li,
.dark-mode h3,
.dark-mode p,
.dark-mode ol,
.dark-mode .document-links a,
.dark-mode .introduction h2,
.dark-mode .WhFa h2,
.dark-mode .ForDown h2,
.dark-mode .How2Use h2,
.dark-mode .Features h2,
.dark-mode .Generator h2,
.dark-mode .ForDev h2,
.dark-mode .Drafts h2,
.dark-mode .introduction li,
.dark-mode .WhFa li,
.dark-mode .ForDown li,
.dark-mode .How2Use li,
.dark-mode .Features li,
.dark-mode .ForDev li,
.dark-mode .Drafts li {
    color: white !important;
}

.dark-mode .dark-mode .introduction h2,
.dark-mode .WhFa h2,
.dark-mode .ForDown h2, 
.dark-mode .How2Use h2,
.dark-mode .Features h2,
.dark-mode .Generator h2,
.dark-mode .ForDev h2,
.dark-mode .Drafts h2 {
 
    color: #ffffff !important; 
}


//darkmode
body {
    font-family: $font;
}

.heading h1 {
    padding-top: 94px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}

.heading p {
    text-align: center;
}

.document-links {
    text-align: center;


}



ul li {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #16212A;
}

.generate {
    color: black;
}

h3, p, ol {
    color: black;
            font-size: 18px;
}
.ForDev li{
list-style: none;
margin: 0;
padding: 0;
}
h3{
    font-weight: 600;
}
.ForDown a{
    text-decoration: underline;
    font-size: 17px;
}

.document-links a {
    text-decoration: underline !important;
    text-align: center;
    font-size: 21px;
    padding: 0 3px !important;
}

.introduction h2,
.WhFa h2,
.ForDown h2,
.How2Use h2,
.Features h2,
.Generator h2,
.ForDev h2,
.Drafts h2 {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding-top: 22px;
    color: $mediumblue;
    text-transform: capitalize;

}

.introduction li,
.WhFa li,
.ForDown li,
.How2Use li,
.Features li,
.ForDev li,
.Drafts li {
        list-style: disc;
        font-size: 18px;

}

