/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

{% load static %}
:root {
  --black: #1a1a1a;
  --white: #fff;
  --gray: #ccc;
  --darkgreen: #18846C;
  --lightbrown: #E7E7E7;
  --darkblack: rgba(0,0,0,0.8);
  --minRangeValue: 280px;
}

* {
  margin: 0;
  padding: 0;  
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}

body {
  margin: 50px 0;
  color: var(--black);
  font: 1rem/1.3 sans-serif;
}

.gallery {
  padding: 0 2rem;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

.d-none {
  display: none;
}


/* TOOLBAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar .search-wrapper {
  position: relative;
}

.toolbar input[type="search"] {
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.toolbar ::placeholder {
  color: var(--gray);
}

.toolbar .counter {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  font-size: 0.9rem;
  color: var(--gray);
}

.view-options {
  display: flex;
  align-items: center;
}

.view-options li:not(:last-child) {
  margin-right: 1.2rem;
}

.view-options button {
  padding: 2px;
  border: 3px solid transparent;
}

.view-options .active button {
  border-color: var(--darkgreen);
}


/* IMAGE LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-list {
  margin: 3rem 0;
}

.image-list li {
  background: var(--lightbrown);
  color: var(--darkblack);
}

.image-list p:first-child {
  font-weight: bold;
  font-size: 1.15rem;
}

.image-list p:last-child {
  margin-top: 0.5rem;
}


/* GRID VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-view {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--minRangeValue), 1fr));
}

.grid-view figcaption {
  padding: 1rem;
}





/* LIST VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-view li + li {
  margin-top: 1.5rem;
}

.list-view figure {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.list-view  i{
  font-size: 1rem;
  text-align: right;
}

before-foter{
 
  text-align: center;
}

before-foter button{
  border-radius: 7px; 
  background-color:black; 
  color:aliceblue; 
  padding: 15px 15px 15px 15px; 
  margin: 20px 20px;
}

i{
  font-size: 1rem;
  padding: 0 1.5rem;
  text-align: right;
  color: #1a1a1a;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  padding: 0 1.5rem;
  text-align: right;
  background: url(http://www.w3.org/2000/svg);
}

footer span {
  color: #e31b23;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .toolbar input[type="range"] {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .grid-view li {
    text-align: center;
    padding: 0.5rem;
  }

  .grid-view figcaption {
    padding: 0.5rem 0 0;
  }
}


.leftside {
  position: fixed;
  top: 35%;
  background-color: #E7E7E7;
  padding-right: 30px;
}

#MiniLeftNav li{
	list-style: outside none none;
    margin: 20px 0;
    padding: 0;
    width: 48px;
}
#MiniLeftNav li a{
	display: block;
    padding: 7px;
    position: relative;
}

#MiniLeftNav span {
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  bottom: 0;
  left: 47px;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0;
  
  /* CSS3 Transition: */
-webkit-transition: 0.50s;
/* Future proofing (these do not work yet): */
-moz-transition: 0.50s;
transition: 0.50s;  
}
#MiniLeftNav a:hover span{ width:auto; padding:0 30px;overflow:visible; }
#MiniLeftNav a:hover{text-decoration:none;}
#MiniLeftNav a span{
background-color: none;

}
  
