
{% load static %}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');





fieldset{
   margin-top: 66px;
    border-color:rgba(128, 128, 128, 0.466);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;

}

.buttons.disable{
    opacity: 0.6;
    pointer-events: none;

}

legend{
    margin: 20px;
}





.bigbox{
    border: 1px solid;
    width: 70%;
    margin: 45px auto;
    text-align: center;
    border-color:rgba(128, 128, 128, 0.466);
    box-shadow: rgba(99, 99, 99, 0.2) 5px 5px 5px 0px;
    padding: 10px 10px;
}



.preview-img{
    width: 110px;
    height: 110px;
    border: 1px solid;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-color:rgba(128, 128, 128, 0.466);
    
}

.btn1{
    width: 250px;
    height: 35px;
    margin-top: 20px;
    color: #2F80ED;
    border: 2px solid ;
    border-radius: 3px;
    border-color: #2F80ED;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.btn2{
    width: 250px;
    height: 35px;
    margin-top: 20px;
    color: #2F80ED;
    border: 2px solid ;
    border-radius: 3px;
    border-color: #2F80ED;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.btn3{
    width: 140px;
    height: 35px;
    border-radius: 3px;
    background-color:#2F80ED ;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.btn1:hover{
    background-color: #2F80ED;
    color: white;
}

.btn2:hover{
    background-color: #2F80ED;
    color: white;
}

.btn3:hover{
    border: 2px solid ;
    border-color: #2F80ED;
    background-color: white;
    color: #2F80ED;
}

.upload{
    width:15px;
}

.preview-img img{
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

textarea{
 padding: 0px 5px;
 height: 100px;
 max-width: 100%;
 background-color: #f8f8f8;
 border: 2px solid #ccc;
 resize: none;
 border-radius: 4px;
 box-sizing: border-box;
 
}

.btn4{
    width: 250px;
    height: 35px;
    border-radius: 3px;
    background-color:#2F80ED ;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 60px;
    
}

.btn4:hover{
    border: 2px solid ;
    border-color: #2F80ED;
    background-color: white;
    color: #2F80ED;
}



.instructions{
    text-align: center;
}

.instruct{
    font-size:14px;
}




.instructions h2{
    font-weight: bold;
    font-size: 33px;
}

.instructions h4{
    font-weight: bold;
    font-size: 19px;
    padding-top: 23px;
}