{% extends 'base.html' %}
{% load static %}

{% load livereload_tags %}

{% block title %}
    Favicon | contact
{% endblock %}

{% block content %}

    <main>

        <!-- contact section -->

<div class="eight-section">
    <div class="rowX container">
       
          <div class="col100">
<div class="form-style">
    <header>Get in Touch</header>
    <h3>

        Do you need to ask us any question? 
Kindly get in touch with us, We’d love to hear you.
You can also request for the Demo.
    </h3>
    <div class="col30 Contact-style">
            <header>Contact Us</header>

            <ul>
                                <li> <a href="/#"> <i class="bi bi-envelope"></i> info@favivon.com</a></li>

                                            <li> <a href="/#"> <i class="bi bi-telephone-fill"></i> info@favivon.com</a></li>

            </ul>
            
            <!-- <ul class="icon-style">
                <li><i class="bi bi-linkedin"></i></li>
                <li><i class="bi bi-twitter"></i></li>
                <li><i class="bi bi-github"></i></li>
            </ul> -->

        </div>
</div>
        </div>
      

    </div>
</div>

<!-- contact section -->

{% endblock %}