{% extends 'base.html' %}
{% load static %}

{% load livereload_tags %}

{% block title %}
    Favicon | terms and use
{% endblock %}

{% block content %}



    <main>
<div class="rowX container terms-bg">
    <div class="col30">
        <p class="terms-link"><a href="{% url 'termsOfUse' %}"> Terms of Use</a></p>

                <p class="privacy-link"><a href="{% url 'privacyPolicy' %}"> Privacy Policy</a></p>
                       

    </div>
    <div class="col70">
            <h3 class="terms-of-use"> Terms of Use</h3>
             <p class="read">Please read these terms carefully.</p>
   <ol class="terms"  >
                        <li>
                            <h3>Terms</h3>
                            <p>We are committed to maintaining the accuracy,<br>confidentiality, and security of our users' personal<br>information that we collect from or about our users, how<br>we use that information, and to whom it is disclosed</p>
                        </li>
                        <li>
                            <h3>Use of the Site</h3>
                            <p>We are committed to maintaining the accuracy,<br>confidentiality, and security of our users' personal<br>information that we collect from or about our users, how<br>we use that information, and to whom it is disclosed</p>
                        </li>
                        <li>
                            <h3>Copyright Infringement</h3>
                            <p>We are committed to maintaining the accuracy,<br>confidentiality, and security of our users' personal<br>information that we collect from or about our users, how<br>we use that information, and to whom it is disclosed</p>
                        </li>
                        <li>
                            <h3>Images</h3>
                            <p>We are committed to maintaining the accuracy,<br>confidentiality, and security of our users' personal<br>information that we collect from or about our users, how<br>we use that information, and to whom it is disclosed</p>
                        </li>
                        <li>
                            <h3>Google Fonts</h3>
                            <p class="hrp">We are committed to maintaining the accuracy,<br>confidentiality, and security of our users' personal<br>information that we collect from or about our users, how<br>we use that information, and to whom it is disclosed</p>
                        </li>
                        </ol>

    </div>
</div>

{% endblock %}