// @import "./abstracts/variables"; This sho
//@import "./abstracts/variables" Above should be enable to update a variable value.

$font: 'Roboto', 'sans-serif';
$gray: #eeeeee;


body {
    font-family: $font ;
    color: #000;
}

.dark-mode .bg-light,
        .dark-mode .offcanvas
{
    background-color: black !important;
    color: white !important;
}

.dark-mode .btn-close {
    box-sizing: content-box;
    width: 2em;
    height: 2em;
    padding: 0.25em 0.25em;
    background-color: rgb(255, 255, 255);
background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z' /></svg>");    border: 0;
    border-radius: 0.375rem;
    opacity: .5;
}


.dark-mode .nav-link,
.dark-mode .intro h1,
.dark-mode .intro p {
   
    color: rgb(255, 255, 255);

}

.dark-mode .nav-btn .nav-link {

    color: rgb(0, 0, 0);

}

.dark-mode svg {

       
        filter: invert(1);
     
    
}



.dark-mode .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: var(--bs-border-width) solid rgb(0 126 255);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.dark-mode {
    background-color: black !important;
    color: white !important;
}

.dark-mode+nav {
    background-color: black !important;
    color: white;
}

a {
    text-decoration: none !important;

}

/* navbar */
@media screen and (max-width: 1209px) {
    .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0px;
            padding-left: var(--bs-navbar-nav-link-padding-x);
        }
}


.nav-link {
    font-size: 17px;
    font-weight: 600;
    margin: auto 22px;
    color: #000;

}

svg {
    width: 80%;
}

.nav-btn {
    border: none;
    padding: 0 29px !important;
}

.container-fluid {
    padding: 13px 0;
}

.center{

     width:fit-content !important;
  
}

/* navbar */

/* first-section */

.first-section {
    text-align: center;
    margin-bottom: 53px;
}

.first-section header {
    font-size: 54px;
    font-weight: 900 !important;
    padding-top: 63px;
}

.first-section h3 {
    font-weight: 5200 !important;
}

.first-section h3 span {
    font-weight: 800 !important;
}



.start-btn {
    border: none;
    margin-top: 22px;
    padding: 14px 42px !important;
}

.start-btn a {
    border: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}

/* first-section */

/* fifth section */
.rowX:after {
    content: "";
    display: table;
    clear: both
}

.col50 {
    float: left;
    width: 50%;
    padding: 20px;
}

.col50 .svg-w {
    width: 100%;

}

.col50 svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44px;

}

path {
    width: 33px !important;
}

.fifth-section p {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #000;
}

.fifth-section {
    margin: 33px 0 55px 0;
    padding: 55px 0;
    background-color: $gray;
}

@media screen and (max-width: 1000px) {
  

  
}

@media screen and (max-width: 1390px) {
    .Archive-icon h1 {
            font-size: 24px !important;
            
        }

                .free-btn a {
                    border: none;
                    text-decoration: none;
                    color: black;
                    font-size: 10px !important;
                    font-weight: 700;
                }
}

@media screen and (max-width: 990px) {
.navbar-expand-lg .offcanvas .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
 .free-btn a {
     border: none;
     text-decoration: none;
     color: black;
     font-size: 15px !important;
     font-weight: 700;
 }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

   

    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .nav-item {
        font-size: 17px;
        font-weight: 600;
        margin: auto 22px;
        padding: 20px 0;

    }
.switch {
  margin-top: 22px !important;
}
    .nav-btn {
        padding: auto !important;
        margin: auto 22px;
    }

    button .nav-item {
        font-size: 17px;
        font-weight: 600;
        margin: auto 22px;
        padding: 3px 0;


    }

    .switch {
        margin: 44px auto;
    }

        .sixth-mg .col30 {
            margin-top:  25px !important;
    
        }

                iframe {
                    width: 100%;
                    height: 100% !important;
                }
    .justify-content-end {
        justify-content: flex-end !important;
        padding: 33px;

    }

    .btn-close {
        width: 3em;
        height: 3em;

        font-size: 16px;
    }

    button.nav-item {
        font-size: 17px;
        font-weight: 600;
        margin: auto 22px;

    }
}






// /* fifth section */
// sixth-section
.sixth-section {
    text-align: center;
    width: 70% !important;
    margin: 0 auto 0 auto;
}

.sixth-mg .col30,
.sixth-mg .col20 {
    margin: auto 12px;
    
}


.col30{
    width: 30%;
    float: left;
}

.col40 {
    width: 35.9%;
    float: left;
}

.col20 {
    width: 20%;
    float: left;
}
.Archive {
    background-color: #c6c6c6;
    padding: 22px;
    color: #000;
    margin: 44px 0;
    border-radius: 2px;
}
iframe{
    width: 100%;
    height: 165px;
}

.Archive-icon {
    background-color: #c6c6c6;
    padding: 22px;
    color: #000;
    position: relative;
    margin: 44px 0;
        border-radius: 2px;
    
}

.Archive-icon h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.NEW {
    background-color: #4a4a4a;
    position: absolute;
    top: -35px;
    right: -40px;
    padding: 8px 17px;
}

.Archive-icon header {

    color: white;
    font-size: 25px;
    font-weight: 700;

    text-transform: uppercase;
}

.Archive-icon h4 {
    color: black;
    font-size: 16px;
    padding-top: 12px;
    text-transform: uppercase;
}

.col50 button {
    display: block;
    margin: auto;
}

.btn-absolute {}

.free-tn {
    position: relative;
    top: 5em;
    text-align: center;

}

.free-btn {
    border: none;
    padding: 14px 22px !important;
}

.center-p {
    width: 100%;
    text-align: center;
}

.free-btn a {
    border: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {


    .free-tn {

        top: 0;
    }

    .Archive-icon h1 {
        color: #000;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 700;
    }

}

@media screen and (max-width: 520px) {


    .free-tn {

        top: 0;
    }

    .Archive-icon h1 {
        color: #000;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
    }

    .Archive-icon header {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
    }

    .NEW {
        background-color: #4a4a4a;
        padding: 8px 17px;
        position: absolute;
        top: -20px;
        right: -40px;
    }

    .col50 {
        float: left;
        width: 100% !important;
        padding: 20px;
    }

}

//sixth-section

// seventh-section
.seventh-section header {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}

.seventh-section .accordion {
    width: 70%;
}

.seventh-section {
    width: 100%;
  margin: 44px auto ;
    
    background-color: transparent;
    
}

.seventh-section .accordion {
    background-color: $gray;
    padding: 43px !important;
    width: 80%;
    margin: auto;
    padding-bottom: 24px;
}

.seventh-sec {
    width: 80%;
    margin: auto;
    padding-bottom: 24px;
    background-color: transparent;

}

.accordion-button {
    background-color: #ffffff08 !important;
}

.accordion {
    --bs-accordion-bg: rgba(255, 255, 255, 0) !important;
    --bs-accordion-btn-focus-border-color: #00000000 !important;
}

.accordion {
    --bs-accordion-color: #000;
    --bs-accordion-bg: #fff;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon:
        url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z' clip-rule='evenodd'/></svg>");
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon:
        url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z' clip-rule='evenodd'/></svg>");
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25remrgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #e40c0c;
    --bs-accordion-active-bg: #e7f1ff;
}

.seventh-sec section {
    text-align: right;
    font-weight: 300;
}

.seventh-sec section span {
    text-align: right;
    font-weight: 800;
}

//eight section

.col70 {
    width: 70%;
    float: left;
}

.col30 {
    width: 30%;
    float: left;
}


@media screen and (max-width: 1000px) {

    
    .col20,
        .col30,
    .col40
    .col50,
    .col60,
    .col70,
    .col80,
    .col90
    {
        width: 100%;
    }

        .sixth-mg .col40,
        .sixth-mg .col20 {
            margin: 22px auto;
        }

    img {
        margin: auto;
    }

    .form-style header {
        font-size: 44px;
        font-weight: 700;
        width: 80%;
        margin: auto;
    }

    .col50 {
        float: left;
        width: 100% !important;
        padding: 20px;
    }

}

.eight-section {
    margin: 123px auto;
}

.Contact-style {
    background-color: rgb(142, 142, 142);
    padding: 19px 23px;
    text-align: center;
    margin-right: -99px;
    margin-top: 99px;
    position: relative;
    bottom: 0px;
}

.Contact-style li a {
    color: white;
    font-size: 16px;
    line-height: 40px;
}

.Contact-style ul {
    padding: 0 !important;
}

.icon-style li {

    display: inline-block;
    letter-spacing: 23px;
}

.Contact-style header {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    color: white;
}

//forms

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    background-color: #9d9d9d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #202020;
}

.form-style header {
    font-size: 44px;
    font-weight: 700;
    width: 50%;
    margin: auto;
}

.form-style h3 {
    font-size: 24px;
    font-weight: 300;
    width: 50%;
    margin: auto;
}

form {
    width: 50%;
    margin: auto;
}

.form-style {
    padding: 33px 0;
    background-color: rgb(181, 181, 181);
}



@media screen and (max-width: 520px) {

    .form-style header {
        width: 80%;
        margin: auto;
        font-size: 30px;
        font-weight: 700;
    }

    .form-style h3 {
        width: 80%;
        margin: auto;
        font-size: 24px;
        font-weight: 300;
    }

    form {
        width: 80%;
        margin: auto;
    }

    form {
        text-align: left !important;
    }


}

//switch

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 4px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}



.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0;
    bottom: 4px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffffffb1;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

//About Us Page

.third-section{
    justify-content: center;
}

.third-section h1{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.third-section  span {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #4a4a4a ;
}

.third-section ul {
   padding: 10px 0 !important;
}
.third-section li{
    color: rgb(63, 63, 63);
    text-align:center;
  
    font-size: 14px;
    font-weight:bold;
    line-height: 42px;
}

.third-section header {
    text-align: center;
    font-size: 21px;
    font-weight: 800;
}
.team {
    width: 100%;
    margin: 23px auto;
}

.team .col30:first-child{
    margin:  auto 33px;
    text-align: center;
}

//forth-section Our value
.forth-section svg{
width: 88px;
}

.value-p{
    display: flex;
}

.value-x {
    display: flex;
}
 .value-p  h1,
 .value-x h1,
 .value-y h1 {
    font-size: 19px;
     font-weight: 700;
     margin: 22px auto 0 auto auto;
 }
  

@media screen and (max-width: 1000px){
    .value-p,
    .value-x,
    .value-y {
            display: block;
            text-align: center;
        }
    .forth-section .col40{
        display: block;
        text-align: center;
        margin: auto;
    }
    .col30 h1{
        margin: auto auto auto auto;
    }
         .col40 {
width: 100%;     
float: none;    }
        

}

//footer
.svgfoot {
    position: relative;
    bottom: 0;
    z-index: -1;
    left: 0px;
    bottom: 0;


}

main {
    height: 80vh;
}

footer {
    background-image: url(../images/Vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
        left: 0;
        bottom: 0;
    display: inline-block;
}

.footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer {
    color: #000000;

    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.footer .col25 h4 {
    display: block;
    font-size: 23px;
    font-weight: 600;
    color: #000000;
}

.footer .navi0 {

    font-size: 14px;
    line-height: 21px;

}

.footer .navi0 span {
    display: block;
    margin-top: 6px;

}

.footer .navi0 span a {
    margin: auto;

}

.footer .navi1 a {
    display: block;
    font-size: 14px;
    padding-top: 22px;
}

.footer .navi2 a {

    display: block;
    font-size: 14px;
    padding-top: 22px;

}

.footer .navi3 a {

    display: block;
    font-size: 14px;
    padding-top: 22px;
}

.col25 {
    width: 25%;
    float: left;
}

.footer .col25,
.footer .col25,
.footer .col25,
.footer .col25 {

    margin: 133px auto;
    padding: 19px;
}

.footer-svg svg {
        width: 100%;
            height: 48px;
            fill: none;
    filter: none !important;
}

.last-section {
    display: flex;
    background-color: #d9d9d9;
}

.last-section h3:last-child {
    text-align: right;


}

.last-section h3 {
    color: #000000;
    font-size: 15px;

}

hr {
    margin: 0;
    color: none !important;
    border: 0;
    border-top: 1px solid;
    opacity: 1;
    background-color: #000 !important;
}

@media screen and (max-width: 1000px) {

.footer-svg svg {
        width: 240px;
        height: 48px;
        fill: none;
        filter: none !important;
    }

    .footer .col25,
    .footer .col25,
    .footer .col25,
    .footer .col25 {
        margin: 20px auto;
        padding: 19px;
    }

    #favicongen {
        margin-top: 182px;
    }

    .footer .navi3,
    .footer .navi2,
    .footer .navi1,
    .footer .navi0 {

        width: 100%;
        height: 100%;
        margin: 12px auto;
    }

    .col25 {
        width: 100%;
    }

    .footer-svg svg {
        width: 240 !important;
        height: 48;
        fill: none;
    }

    .last-section h3:last-child {
        text-align: left;


    }

    .last-section .col50 {
        float: left;
        padding: 10px;
        width: 100% !important;
    }

    h1 {
        width: 100%;
        color: #0c0c0c;
        text-align: center;
        margin: 3px auto auto;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: 73px;
    }

    h1 br {
        display: none;
    }
}